<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 使用Spring RMI发布服务 -->
	<bean id="business" class="spring.rmi.BusinessImpl"></bean>	
	<bean id="businessService" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service"><ref bean="business"/></property>
		<property name="serviceName" value="Business"></property>
		<property name="serviceInterface" value="spring.rmi.Business"></property>
		<!-- 可以通过registryHost和registryPort属性设置发布到的URL, 前者默认是localhost，后者默认是1099 -->
	</bean>
</beans>